$hero-margin-top: 0;
//was 4.5rem

//Font sizes
$body-font-size: 1rem; //.875rem; //87.5%; //regular copy - 14px
$body-font-size-2: 1.1rem; //114.285715%; //16px
$body-bigger-font-size: 1.1rem; //114.285715%; //16px

$font-size-regular: .9rem;
$font-size-small: .85rem;
$font-size-medium: 1rem;
$font-size-large: 1.1rem;


//Smaller fonts
$font-size-x-small: .8rem;
$font-size-xx-small: .7rem;

$mini-font-size: .85rem; //85.714286%; //12px
$mini-font-size-2: .8rem; //80.714286%; //12px
$micro-font-size: .7rem;  //71.42857%; //10px


//Headings and large fonts
$heading-small: 1.2rem;
$heading-medium: 1.8rem;
$heading-large: 2.2rem;
$heading-x-large: 3rem;
$heading-xx-large: 4.6rem;


//Layout
$nav-bar-height: 47px;

