<section class="app-submit">
    <div class="row collapse">
        <div class="small-12 columns">

            <div class="label-wrapper">
                <div>&nbsp;</div>
            </div>
            <div class="input-wrapper">
                <div class="submit-wrapper ">
                   <input class="button primary {{klass}}" type="submit" value="{{txt || text || 'Submit'}}"/>
                    <div class="loader-wrapper ">
                        <app-loader></app-loader>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>


        </div>
    </div>
</section>
