.app-checkbox {

    margin-bottom: 1.2rem;

    .bottom-hint {
        font-size: $mini-font-size;
        // text-align: center;
        color: $theme-copy-secondary;

    }

    &.full-width {
        @include desktop {
            .input-wrapper {
                width: 100%;
            }
        }
    }
}

